@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

color {
  color: #00000040;
  color: #D3FFF2;
  color: hsla(162, 95%, 34%, 0.188);
  color: #283d3bcb;
  color: #00553c69;
  color: #d1e7ff;
  color: #ffe6e6;
}

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-dm-serif-display: 'DM Serif Display', serif;
  --font-league-spartan: "League Spartan", sans-serif;
  --font-inter-tight: "Inter Tight", sans-serif;

  --color-primary: #04A777;
  --color-second: #337357;
  --color-third: #283D3B;
  --color-fourth: #D3FFF2;
  --color-whitey: #ededed;
  --color-azul: #007BFF;
  --color-amarelo: #F7DC6F;
  --color-amarelo-dark: #c8b25b;
  --color-cinza: #141414;
  --color-cinza-txt: #434343;

  --color-gradient: #0dd89b;

}

/* *{
    border: 1px solid Red;
  } */

/* .sust-1 {
  top: calc(20vh + 0.5em);
}

.sust-2 {
  top: calc(20vh + 6em);
} */